.countryList {
  width: 100%;
  margin-bottom: 2rem;
  list-style: none;
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 1.6rem;
}

.countryList::-webkit-scrollbar{
  width: 0;
}